@import "../vendor/normalize.css";

/* fonts */
@import "../fonts/stylesheet.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  font-family: Monda, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.429;
  color: #fff;
  background-color: #181824;
}

.main {
  margin: 15px 60px;
}

.caption {
  margin: 0;
  padding: 0;
  font-size: 96px;
  line-height: 156px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.main-container {
  max-width: 660px;
  margin: 0 auto;
}

.section {
  z-index: 5;
  width: 100%;
  max-height: 70px;
}

.section-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 68.56px;
}

.section-input {
  width: 100%;
  height: 100%;
  padding: 10px 35px;
  font-size: 36px;
  line-height: 59px;
  font-weight: 400;
  color: #fff;
  background-color: #25273c;
  border: 0;
  border-radius: 30px 0 0 30px;
  box-shadow: none;
  outline: none;
  letter-spacing: 0.1em;
  appearance: none;
  appearance: none;
}

.section-input::input-placeholder {
  font-size: 36px;
  line-height: 59px;
  font-weight: 400;
  color: rgb(255 255 255 / 75%);
  letter-spacing: 0.1em;
}

.section-input:input-placeholder {
  color: rgb(255 255 255 / 75%);
}

.section-button {
  z-index: 2;
  width: 110.43px;
  height: 68.56px;
  border: 0;
  border-radius: 0 30px 30px 0;
  flex-shrink: 0;
  background: transparent url("../img/plus.svg") no-repeat center/cover;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  appearance: none;
}

.section-button:active,
.section-button:hover,
.section-button:focus {
  cursor: pointer;
  outline-offset: 2px;
  box-shadow: 0 0 25px #3ec827;
  transition: 0.05s ease-in-out;
}

.todo-container {
  width: 100%;
  margin-top: 50px;
}

.todo {
  width: 100%;
}

.todo-item {
  position: relative;
  display: flex;
  width: 100%;
  padding: 14px;
  font-size: 36px;
  line-height: 59px;
  font-weight: 400;
  color: #bebec5;
  background-color: #25273c;
  justify-content: space-between;
  align-items: center;
  min-height: 82.49px;
  letter-spacing: 0.1em;
  box-shadow: 0 1px 2px rgb(44 62 80 / 10%);
  border-bottom: 1px solid #4840405e;
  word-break: break-word;
}

.todo-item:last-of-type {
  margin: 0;
}

.todo-buttons {
  display: flex;
  justify-content: flex-end;
}

.todo-buttons button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  appearance: none;
}

.todo-buttons button:active,
.todo-buttons button:hover,
.todo-buttons button:focus{
  cursor: pointer;
  background-color: #452271;
  transition: 0.05s ease-in-out;
  box-shadow: 0 0 25px #9800ffb8;
}

.todo-buttons .todo-remove {
  border-radius: 9px;
}

.todo-buttons .buttons button:last-of-type::before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 1px;
  height: 30px;
  content: "";
  background: #edf0f1;
}

.todo-remove {
  background-image: url("../img/trash.svg");
}

.todo-complete {
  background-image: url("../img/uncheck.svg");
}

.todo-completed .todo-complete {
  background-image: url("../img/check.svg");
}

.todo-completed {
  position: relative;
  padding: 60px 0 0;
}

.todo-completed::before {
  position: absolute;
  top: 30px;
  left: 10%;
  width: 517px;
  height: 4px;
  margin: 0;
  background-color: #484040;
  content: "";
}

.todo:empty::after {
  margin: 15px 0 0;
  font-size: 36px;
  line-height: 59px;
  font-weight: 400;
  content: "No todos";
  letter-spacing: 0.1em;
}

.todo-completed:empty::after {
  content: "No completed todos";
}

.todo::after,
.todo-completed::after {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #aaa;
}
